/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

body {
  background-color: #f8edea;
  color: #333;
}

.hidden {
  display: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffa07a;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-icon {
  background-color: #ff6f61;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
}

.menu-toggle img {
  width: 30px;
  height: 30px;
}

/* Menu */
.menu {
  display: none;
  flex-direction: column;
  background-color: #ff6f61;
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 999;
}

.menu ul {
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: right;
}

.menu-link:hover {
  background-color: #ff9073;
}

/* Home Section */
.home-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 20px;
  background-color: #f8edea;
}

.home-image {
  width: 100%;
  border-radius: 20px;
}

.home-content {
  margin-top: 20px;
}

.home-content h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 1rem;
  color: #555;
}

.explore-events {
  margin-top: 10px;
}

/* About Section */
.about-section {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.about-content {
  flex: 1;
  padding: 20px;
}

.about-image {
  flex: 1;
  width: 100%;
  border-radius: 20px;
}

.about-content h2 {
  font-size: 1.6rem;
  color: #ff6f61;
}

.about-content p {
  margin: 10px 0;
  color: #777;
}

/* Featured Event Section */
.featured-event {
  text-align: center;
  padding: 20px;
}

.event-image {
  width: 100%;
  border-radius: 20px;
}

.event-details {
  margin-top: 15px;
}

.event-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.event-time, .event-location {
  font-size: 1rem;
  color: #777;
  margin-bottom: 5px;
}

.event-stats {
  margin: 10px 0;
  font-size: 0.9rem;
  color: #555;
}

.event-stats span {
  font-weight: bold;
}

.btn {
  background-color: #ff6f61;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0;
}

/* Contact Section */
.contact-section {
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-submit {
  align-self: flex-start;
}
